﻿@model WebRaoVat.Models.UserAd

<h2>Tạo quảng cáo mới</h2>

<form  id="UserAd" class="aspform" action="/userad/create" method="post" novalidate="novalidate">
@*using (Html.BeginForm()) {*@
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Quảng cáo thành viên</legend>

        @Html.HiddenFor(model => model.UserAdsId)
        @*<div class="editor-label">
            @Html.LabelFor(model => model.UserAdsId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserAdsId)
            @Html.ValidationMessageFor(model => model.UserAdsId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageURL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageURL)
            @Html.ValidationMessageFor(model => model.ImageURL)
        </div>
*@
        <div class="editor-label">
            Liên kết quảng cáo:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageLink)
            @Html.ValidationMessageFor(model => model.ImageLink)
        </div>

        <div class="editor-label">
            Thứ tự hiển thị:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageOdr)
            @Html.ValidationMessageFor(model => model.ImageOdr)
        </div>
@*
        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Approved)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Approved)
            @Html.ValidationMessageFor(model => model.Approved)
        </div>
*@
        <p>
            <input type="submit" value="Khởi tạo" />
        </p>
    </fieldset>
@*}*@
</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<form action="/File/Upload" class ="dropzone" id="UploadImage">
    <h3> Upload hình ảnh</h3>
</form>
@{
                string form_id = "UploadImage";
                string form_contain_fields_id = "UserAd";
                int num_images = 1;
}

@if (ViewBag.Images != null)
{
    @ViewsUtilities.EditFile(form_id, form_contain_fields_id, num_images, ViewBag.Images);
}
else
{
    @ViewsUtilities.Upload_File(form_id, form_contain_fields_id, num_images);
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
