﻿@model WebRaoVat.Models.UserAd

<h2>Xóa Quảng Cáo</h2>

<h3>Bạn có chắc là sẽ xóa quảng cáo này?</h3>
<fieldset>
    <legend>UserAd</legend>

     @Html.HiddenFor(model => model.UserAdsId)

    <div class="display-label">
         Hình ảnh quảng cáo:
    </div>
    <div class="display-field">
        <img src="/Content/Upload/Images/@Model.ImageURL" width="100" height="100"/><br />
        @Html.DisplayFor(model => model.ImageURL)
    </div>

    <div class="display-label">
         Liên kết quảng cáo:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageLink)
    </div>

    <div class="display-label">
         Thứ tự hiển thị:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageOdr)
    </div>

    <div class="display-label">
         Tên user:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         Đã được chấp nhận?
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Approved)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Xóa" /> |
        @Html.ActionLink("trở về danh sách", "Index")
    </p>
}
