﻿@model WebRaoVat.Models.UserAd

<h2>Chi tiết quảng cáo</h2>

<fieldset>
    <legend>UserAd</legend>

     @Html.HiddenFor(model => model.UserAdsId)

    <div class="display-label">
         Hình ảnh quảng cáo:
    </div>
    <div class="display-field">
        <img src="/Content/Upload/Images/@Model.ImageURL" width="100" height="100"/><br />
        @Html.DisplayFor(model => model.ImageURL)
    </div>

    <div class="display-label">
         Liên kết quảng cáo:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageLink)
    </div>

    <div class="display-label">
         Thứ tự quảng cáo:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageOdr)
    </div>

    <div class="display-label">
         Tên User:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         Đã được chấp thuận?
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Approved)
    </div>
    <div class="editor-label">
            Người quản lý ghi chú:
    </div>
    <div class="editor-field">
        @Html.HiddenFor(model => model.ModerComment)
        @Html.ValidationMessageFor(model => model.ModerComment)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id=Model.UserAdsId }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
