﻿@model WebRaoVat.Models.UserAd

<h2>Sửa quảng cáo</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Quảng cáo cho trang doanh nghiệp</legend>

        @Html.HiddenFor(model => model.UserAdsId)

        <div class="editor-label">
            Hình ảnh quảng cáo:
        </div>
        <div class="editor-field">
            <img src="/Content/Upload/Images/@Model.ImageURL" width="100" height="100"/> <br />
            @Html.HiddenFor(model => model.ImageURL)
            @*<input type="hidden" name="UserId" value="@Model.UserId" />*@
            @Html.ValidationMessageFor(model => model.ImageURL)
        </div>

        <div class="editor-label">
            Liên kết quảng cáo:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageLink)
            @Html.ValidationMessageFor(model => model.ImageLink)
        </div>

        <div class="editor-label">
            Thứ tự hiển thị:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageOdr)
            @Html.ValidationMessageFor(model => model.ImageOdr)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            Đã được chấp thuận?
        </div>
        @if(ViewBag.EditableApproved == 1) {
            <div class="editor-field">
                @Html.EditorFor(model => model.Approved)
                @Html.ValidationMessageFor(model => model.Approved)
            </div>
        }
        else{
             @Html.HiddenFor(model => model.Approved)
        }

        @Html.HiddenFor(model => model.ModerComment)

        <p>
            <input type="submit" value="Lưu lại" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Trở lại danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
