﻿@model IEnumerable<WebRaoVat.Models.UserAd>

<h2>Quảng cáo trên trang cá nhân doanh nghiệp</h2>

<p>
    @Html.ActionLink("Thêm Quảng Cáo mới", "Create")
</p>
<table border="1">
    <tr>
        <th>
            Hình ảnh Quảng cáo
        </th>
        <th>
            Liên kết đến
        </th>
        <th>
            Thứ tự hiển thị
        </th>
        <th>
            Tên người dùng
        </th>
        <th>
            Đã được chấp nhận?
        </th>
        <th>
            Nội dung Yêu cầu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="/Content/Upload/Images/@item.ImageURL" width="100" height="100"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageOdr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModerComment)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.UserAdsId }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.UserAdsId }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.UserAdsId })
        </td>
    </tr>
}

</table>
