﻿@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@model IEnumerable<WebRaoVat.Models.UserAd>
<h2>Quản lý Quảng Cáo - Thành viên</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>

<fieldset>
    <legend>Bộ lọc</legend>
@using (Html.BeginForm("UserAdManager","UserAd", FormMethod.Get))
{
    <p> Search: @Html.TextBox("search", ViewBag.searchstring as string) 
        Tình trạng kiểm tra: @Html.DropDownList("Approved")
    <input type="submit" value="Lọc Dữ Liệu" /></p>
}
</fieldset>
<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserAdsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageOdr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModerComment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserAdsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageOdr)
        </td>
        <td>
            <img src="/Content/Upload/Images/@item.ImageURL" width="100" height="100"/><br />
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.ModerComment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserAdsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserAdsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserAdsId })
        </td>
    </tr>
}

</table>
