﻿@model IEnumerable<WebRaoVat.Models.Post>
@* function tao link cho viec sap xep tham khao http://afana.me/post/paging-sorting-and-searching-ef-cf-and-mvc.aspx *@
@helper sortLink(string name, int id)
{  
  @* <a href="@Url.Action("Index", "Post", new { CatId= ViewBag.CatId, SortBy = id, PageSize= ViewBag.PageSize,Search=ViewBag.Search, IsAsc = (id == ViewBag.SortBy ? !@ViewBag.IsAsc : @ViewBag.IsAsc).ToString().ToLower() })">@name</a> *@
  @:  <option value="/PostCategory/Details?CatId=@ViewBag.CatId&SortBy=@id&PageSize=@ViewBag.PageSize&Search=@ViewBag.Search&IsAsc=@((id == ViewBag.SortBy ? !@ViewBag.IsAsc : @ViewBag.IsAsc).ToString().ToLower())">@name</option>
}
@* function tao link cho viec phan trang, tham khao http://afana.me/post/paging-sorting-and-searching-ef-cf-and-mvc.aspx *@
@helper buildLinks(int start, int end, string innerContent)
{
     for (int i = start; i <= end; i++)
     {
         <a class="@(i == ViewBag.CurrentPage ? "current" : "")" href="@Url.Action("Details", "PostCategory", new { CatId= ViewBag.CatId, SortBy =ViewBag.SortBy, PageSize= ViewBag.PageSize, IsAsc=ViewBag.IsAsc, Search=ViewBag.Search ,page = i })">@(innerContent ?? i.ToString())</a>  
     }
     
}
@* function hien thi pagelink hop ly khi co qua nhieu trang vd 1.....5.current.7....100, tham khao http://afana.me/post/paging-sorting-and-searching-ef-cf-and-mvc.aspx *@
@helper pageLinks()
{  
    const int maxPages = 11;
     
    if (ViewBag.TotalPages <= maxPages)
    {
        @buildLinks(1, (int)ViewBag.TotalPages, null)
        return;
    }
 
    int pagesAfter = ViewBag.TotalPages - ViewBag.CurrentPage; // Number of pages after current
    int pagesBefore = ViewBag.CurrentPage - 1; // Number of pages before current
 
    if (pagesAfter <= 4)
    {
        @buildLinks(1, 1, null) // Show 1st page
 
        int pageSubset = ViewBag.TotalPages - maxPages - 1 > 1 ? ViewBag.TotalPages - maxPages - 1 : 2;
        @buildLinks(pageSubset, pageSubset, "...") // Show page subset (...)
 
        @buildLinks(ViewBag.TotalPages - maxPages + 3, ViewBag.TotalPages, null) // Show last pages
 
        return; // Exit
    }
 
    if (pagesBefore <= 4)
    {
       @buildLinks(1, maxPages - 2, null) // Show 1st pages
 
 
       int pageSubset = maxPages + 2 < ViewBag.TotalPages ? maxPages + 2 : ViewBag.TotalPages - 1;
       @buildLinks(pageSubset, pageSubset, "...") // Show page subset (...)
 
       @buildLinks(ViewBag.TotalPages, ViewBag.TotalPages, null) // Show last page
 
        return; // Exit
 
    }
 
    if (pagesAfter > 4)
    {
        @buildLinks(1, 1, null) // Show 1st pages
 
        int pageSubset1 = ViewBag.CurrentPage - 7 > 1 ? ViewBag.CurrentPage - 7 : 2;
        int pageSubset2 = ViewBag.CurrentPage + 7 < ViewBag.TotalPages ? ViewBag.CurrentPage + 7 : ViewBag.TotalPages - 1;
 
        @buildLinks(pageSubset1, pageSubset1, pageSubset1 == ViewBag.CurrentPage - 4 ? null : "...") // Show 1st page subset (...)
 
        @buildLinks(ViewBag.CurrentPage - 3, ViewBag.CurrentPage + 3, null) // Show middle pages
         // Show 2nd page subset (...)
        // only show ... if page is contigous to the previous one.
        @buildLinks(pageSubset2, pageSubset2, pageSubset2 ==  ViewBag.CurrentPage + 4 ? null : "...")
        @buildLinks(ViewBag.TotalPages, ViewBag.TotalPages, null) // Show last page
         return; // Exit
 
    }    
}


@{
    ViewBag.Title = ViewBag.CategoryName;
}
	<div id="main-content">
				<div class="show-posts">
					<div class= "show-posts-header">
						<div class="category-header">
							@ViewBag.CategoryName
						</div>
						<div class="sort-posts">
							<span>Sắp xếp theo:</span>
							<select onchange="if (this.selectedIndex) {location = this.options[this.selectedIndex].value;}">
                                @sortLink("Thông thường", 0)
                                @sortLink("Tiêu đề", 1)
                                @sortLink("Ngày tạo", 2)
                                @sortLink("Lượt xem", 3)
                                @sortLink("Giá", 4)
							</select>
						</div>
					</div> <!--end of show-posts-header-->
                    @foreach (var item in Model) 
                    {
                         <a href="/Post/Details?id=@item.PostId">

                           <div class="post-item">

                               <div class="post-content-wrapper @(item.PostType==1?"vip": "") ">

                                   <div class="post-header">
                                       @item.Title
                                  </div>
                                  <div class="clear"></div>
					                    	<img src="/Content/Upload/Images/@item.Thumbnail" class="post-image"/>
                                   <div class="post-description-wrapper">
                                       <div class="post-content">
                                           @item.ShortDescription
                                       </div>
                                       <div class = "clear"></div>	
                                       <div class="description-i">
								            <span class="description-i-caption">
									            Giá:
								            </span>
								            <span class="description-i-value">
									            @(item.Price==null ? "Thỏa Thuận" : item.Price)
								            </span>
                                        </div><!-- end of description-i -->
                                        <div class="description-i">
								            <span class="description-i-caption">
									            Quận/Huyện:
								            </span>
								            <span class="description-i-value">
									            @item.Zone.ZoneName
								            </span>									
							            </div><!-- end of description-i -->
						            	<!--date-->
							            <span class="published-date">
								            @(item.Created==null? "1/1/2001": item.Created.Value.ToString("dd/MM/yyyy"))
							            </span>


							            
                                   </div><!-- end of post-description-wrapper -->
                               </div><!-- end of post-content-wrapper -->


                            </div> <!--end of postitem-->

                    </a>
                           
                }
        </div> <!--end of show-postsr-->
<div class="pagination">
Trang: @pageLinks()       
</div>
</div> <!--end of main-content-->
    <div class="adswrapper">
	    <div class="ads">
            @foreach (var item in ViewBag.CategoryAds) {
                <a href="@item.ImageLink">
                    <img src="/Content/Upload/Images/@item.ImageURL" width="220" height="100" />
                </a>
            }
            <span>Quảng Cáo</span>
	    </div>
    </div>


			<div id="footer" style="margin-left:10px;">	
				<div class="footer_container">
					<div class="addr_footer">
						<span class="footer_head">Liên hệ</span>
							<a>Địa chỉ: Hòa Thành, Tây Ninh</a>
							<a>Số điện thoại: 0933702626</a>
					</div>
					<div class="info_footer">
						<span class="footer_head">Thông tin cho bạn</span>
							<a href="/Home/QuyDinhDangTin">Quy định đăng tin</a>
							<a href="/Home/DieuKhoan"">Điều khoản</a>
							<a href="/Home/ChinhSach"">Chính sách</a>
							<a href="/Home/KinhNghiemDangTin"" >Kinh nghiệm đăng tin</a>
					</div>
					<div class="about_footer">
						<span class="footer_head">Về chúng tôi</span>
						<a href="/Home/GioiThieu"">Giới thiệu</a>
						<a href="/Home/MucTieu"">Mục tiêu</a>
						<a href="/Home/TuyenDung"">Tuyển dụng</a>
					</div>
					
					<div class="register_footer">
						<span class="footer_head">Chứng nhận</span>
						<a href="http://online.gov.vn/HomePage/" target="_blank">
							<img class="bct" src="/Content/bct.png">
						</a>
					</div>
					
					<div class="clear_float"></div>
				</div>
				<hr>
					<p style="color: #808080;">
						Bản quyền của <a href="http://Nhanh60s.vn" style="color: #66FFCC">Nhanh60s</a> |  WWW.NHANH60S.VN © 2015  </p>
			</div>

