﻿@model WebRaoVat.Models.PostCategory

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PostCategory</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryId)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryName)
            @Html.ValidationMessageFor(model => model.CategoryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryAlias)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryAlias)
            @Html.ValidationMessageFor(model => model.CategoryAlias)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModUserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ModUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.ModUserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomAds)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomAds)
            @Html.ValidationMessageFor(model => model.CustomAds)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
