html,body{margin:0;padding:0}
body{
font: 76% Georgia,sans-serif;
text-align:left;
margin:auto;
width:1366px;
}
p{margin:0 10px 10px}
a{text-decoration:none; color:#000000;}
form{margin:0px;}
input{
font-size:12pt;
 padding:10px;
}
span{
display:inline-block;
}
img.thumbnail-64{
	width:64px;
	height:64px;
	margin:5px 5px 5px 5px;
	float:left;
}

div#navi{
	position:fixed;
	top:0px;
	left:0px;
    width: 234px;
    height: 100%;
    background: -webkit-linear-gradient(rgb(18,33,40),rgb(55,78,71),rgb(18,33,40)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(18,33,40),rgb(55,78,71),rgb(18,33,40)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(18,33,40),rgb(55,78,71),rgb(18,33,40)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(18,33,40),rgb(55,78,71),rgb(18,33,40)); /* Standard syntax (must be last) */
	z-index:2;
}

div#navi .navi-item{
 list-style-type: none;
 margin: 0;
 padding: 0;
 height:35px;
 text-align:left;
 border-bottom: 1px solid #677572;
}
div#navi .navi-item a {
float: left;
vertical-align: middle;
line-height: 35px;
font-size: 10pt;
color: white;
padding-left:30px;
min-width:204px;
}

div#navi .navi-item a i{
min-width:30px;
}

div#container{
text-align:left;
width:1100px;
margin-left:244px;
float: left;
}

div#header{
/*margin-left:10px;*/
margin:0 auto;
height:75px;
width:inherit;
background:white;
position:fixed;
top:0px;
padding-left:10px;
z-index: 1;
}
div#logo{
margin-left:244px;
float:left;
width:240px;
height:65px;
}
div#logo img{
width:240px;
height:65px;
}
div#search-box{
width:525px;
color:#dcdddd;
}


#search-box input{
height:6px;
width:450px;
border:2px solid #1e525f;

float:left;
}
#search-box span{float:left;}
#search-box i{font-size: 14px;	}

#search-box button{
background-color:#1e525f;
color:#dcdddd;
border:none;
width:30px;
height:30px;
float:left;
}
#user-login
{
width: 130px;
margin-top: 18px;
margin-left: 10px;
float: left;
font-size: 8pt;
font-weight:bold;
}
#user-login a{
	color: #003333;
	line-height: 20px
}

#navi a:hover, #navi a:active {
    background-color:#677572;
	color:#00ffff;
}
#user-login a:hover, #user-login a:active {
 background-color: white;
 color:red;
}

div#post button
{
	height:35px;
	width:auto;
	font-size:10pt;
	font-weight:bold;
	color:white;
	background-color:#1e525f;
	border:none;
}
div#post button:hover{
    background-color:#677572;
	color:#00ffff;
}
div#main-content-wrapper{
margin-top:75px;
}
div#main-content{
	width:780px;
	float:left;
	margin-left:10px;
	margin: 10 0 10 10px;
}
.show-posts, .show-post-detail{
	width:100%;
	float:left;
	background-color:#eeeeee;
	/*min-height:800px;*/
	border:1px solid #1e525f;
}
.show-posts-header , .module-header,.post-detail-header
{
	height:30px;
	background-color: #1e525f;
}
.caption{
text-transform:capitalize;
}
.medium{
	font-size = 12pt;
}

.module-header{
	height:32px;

}

.category-header, .module-header p{
font-size:11pt;

white-space: nowrap;
color:#dcdddd;
float:left;
margin-left:10px;
line-height:30px;
}
.module-header p{
	line-height:32px;
	font-size: 10pt;
}
.show-posts-header .sort-posts{
	float:right;
	line-height: 30px;
	font-size: 11pt;
	color:#dcdddd;
	margin-right:10px;
}
.show-posts .post-item{
height: 160px;
width: 100%;
border-bottom: 1px solid #b0c2c6;
}
.sort-posts select{
float: left;
margin-top: 5px;
}
.sort-posts span{
float: left;
white-space: nowrap;
margin-right: 12px
}
.show-posts .post-item .post-content-wrapper{
margin: 10px 10px 10px 10px;
height: 150px;
}

.post-item .post-header
{

font-size: 12pt;
font-weight: bold;
}
.post-header, .description-i-value{
color:#336666;
}
.vip .post-header, .vip .description-i-value{
	color:red;
}
.post-header,.post-content,.post-image,.post-description-wrapper,.description-i,.published-date{
margin-left: 7px;
margin-top: 10px;
float: left;
}
.description-i{
	white-space:nowrap;
}
.description-i-value{
margin-left:5px;
font-weight:bold;
}

.post-image{
width: 120px;
height: 90px;

}
.post-content{
width: 590px;
height: 60px;
}

.published-date{
	float:right;
}
.vip{
	background-color: #d2dcdf;
	border-radius: 15px;
}

.adswrapper{
	width: 220px;
	min-height:900px;
	float: left;
	margin-left: 20px;
	padding-bottom:10px;
}


.ads{
float:left;
background: #bbbbbb;
width:100%;
min-height:800px;
}
div#social-network{
	position:fixed;
	top:45%;
	right:0px;
	width:45px;
	height:135px;
	background-color:#6daeb0;
}

div#social-network a{
	width: 45px;
	line-height: 45px;
	text-align: center;
	float: left;
	color: #fff;
}

div#social-network a:hover{
	background-color: #5d9799;
}

div#footer
{
	width: 1020px;
	float: left;
	min-height: 40px;
	background-color: black;
}
.hot-line{
	text-align:center;
	line-height:200%;
	width:234px;
	position:absolute;
	margin-top: 20px;
	color:white;
}
.clear {
    clear:both;
}

.header-box{
	margin-left:20px;
	margin-top:20px;
	height:45px;
	float:left;
}

/* post detail page*/

div#show-post-detail{
 border:none;
 background:none;
}
 div#show-post-detail .related-links{
 float:right;
 }
 
  div#show-post-detail .related-links a{
	margin-left: 20px;
	color: white;
	line-height: 30px;
	margin-right: 10px;
  }
  
 .owner-header{
	text-transform: none;
 }

 .caption-medium{
display:inline-block;
font-size:10pt;
padding-left: 10px;
padding-bottom: 10px;
 }
 
div.slogan-owner{
 float:left;
 width: 140px;
 padding-top:5px
 }
 
div.module{
	background:none;
	float:left;
	border: 1px solid #1e525e;
	margin-bottom: 10px;
	width: 220px;
}
.rating{
	margin-top:5px;
	line-height:30px;
}
.rating span{
	float:left;
	font-weight:bold;
	margin-left:12px;
}
.rating .rating-stars{
	float:right;
	padding-right: 5px;
}
.owner-contact > span{
color: #1e525f;
font-size: 12pt;
font-weight: bold;
float: left;
padding-left: 5px;
}
.owner-contact a{
background-color: #1e525f;
color: white;
float: right;
padding: 5px 5px 5px 5px;
border-radius: 2px;
margin-right: 5px;
}
.owner-contact a:hover{
color:red;
}
.owner-contact-detail{
	margin-top:10px;
	margin-bottom:10px;
}
.owner-contact-detail i, .owner-contact-detail > span{
float:left;
margin-left: 10px;
line-height: 20px;
}
 .owner-contact-detail > span{
width: 180px;
margin-left: 5px;
line-height: 20px;
padding-right: 5px;
float: right;
 }
 #images-detail{
 margin-top: 20px;
float: left;
padding-right: 20px;
 }
.product-full-image{
	width:320px;
	height:350px;
	white-space: nowrap;
    
    text-align: center;
}
.product-full-image .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img#product-image{
	vertical-align: middle;
	width:320px;
}

.carousel-images img{
	width:40px;
	height:40px;
	width: 40px;
	margin: 5px 5px 5px 5px;
	border: 3px solid #646464;
}
img.active{
border: 3px solid #ababab;
}
.carousel-images{
	display: table;
	margin: 20px auto;
}
 #post-detail-short{
float: right;
width: 420px;

 }
 #post-detail-short span{
 padding-top: 5px;
display: inline-block;
font-family: Arial;
line-height: 150%;
 }
.social-like-share{
		height:25px;
  }
 .social-like-share iframe{
 border: none;
height: 30px;
 }

  #detail-price , #hit-count i {
 float:left;
 padding-right:10px;
 }
 #hit-count, #hit-count span{
 float:right;
 }
 .short-detail-attribute  h2,  .short-detail-attribute  p{
 margin:0;
 padding:0;
font-size: 18pt;
 }
  .short-detail-attribute{
 margin-top: 30px;
 }
  #detail-price   h2{
  color:red;
  }
  
   #hit-count{
   border:2px solid #ccc;
   background-color:fafbfb;
   color:#969798;
   padding:10px 10px 10px 10px;
   border-radius:8px;
   }
    #hit-count p{
		font-size:10pt;
	}
.comments{
z-index:0;
margin-top: 20px;
}
.comments h2{
	font-weight:normal;
}
.text-content{
margin-top: 20px;

}
/* user profile */
#user-banner img{
	width:780px;
	height:250px;
}
#user-banner{
	position:relative;
}
#user-banner span{
	position: absolute;
	bottom: 0px;
	left: 0px;
	line-height: 32px;
	background-color: #1e525f;
	color: white;
	font-size: 11pt;
	padding-left: 10px;
	white-space: nowrap;
	padding-right: 10px;
}

.social-like-share .fb-like{
	float:right;
}
.review-rating{
padding-bottom: 28px;
}
div.module-detail-wrapper div.review-rating:first-child{
	margin-top:10px;
}
.review-rating > span{
float: left;
margin-left: 30px;
font-weight: bold;
line-height: 24px;

}

.review-rating .progress {
width: 120px;
border: 1px solid black;
position: relative;
color: red;
float: right;
margin-right: 10px;
}

.percent {
 position: absolute;   
 left: 50%;
 line-height: 20px;
}

.bar {
 height: 20px;
 background-color: grey;
}

.support-contact span{
	font-weight:bold;
	margin-left:10px;
	line-height:24px;
}
.support-contact img{
	margin-top:10px;
}
span.yahoo-contact img{
	margin-left:10px;
}
div.modules-wrapper{
	width:220px;
	float:left;
}
/* small posts list in user profile */

.small-posts{
	width:540px;
	float:left;
	margin-left: 20px;
}
.small-posts .post-image{
	width:110px;
	height:80px;
}
.small-posts .post-content{
	width: 360px;
	height: 60px;
	font-size: 9pt;
}
.small-posts .post-item .post-header{
	font-size:10pt;
	
}
.small-posts .show-posts .show-posts-header{
height:32px;
}
.small-posts .show-posts .show-posts-header  .category-header{
line-height:32px;
font-size:10pt;
}

.small-posts .show-posts .post-item .post-content-wrapper{
height:135px;
}
.small-posts .show-posts .post-item{
	height:135px;
}
.small-posts .vip{
background:none;
}
/* ASP.NET MVC Addition classes*/
.pagination{
float:right;
font-size: 12pt;
margin:10px;
}
.pagination a{
padding-left:5px;
padding-right:5px;
}
.pagination a.current{
border: 1px solid #b0c2c6;	
}
.upgrade-button a{
line-height: 51px;
padding: 10px;
color: red;
background-color: #d2dcdf;
border-radius: 8px;
}
form.dropzone{
float: left;
margin: 20px;
}
form.aspform{
float: left;
margin: 10px;
}
form.aspform input{
min-width: 400px;
}
div.edit-link, div.delete-link, div.touch-link{
float: left;
line-height: 30px;
padding-left: 100px;
}
div.bookmark-link {
float: right;
line-height: 30px;
padding-right: 100px;
}
.edit-link a{color:rgb(35, 211, 51); font-weight:bold; white-space:nowrap}
.delete-link a{color: rgb(255, 129, 39); font-weight:bold; white-space:nowrap}
.touch-link a{color: rgb(255, 22, 111); font-weight:bold; white-space:nowrap}
.bookmark-link a{color: rgb(255, 216, 0); font-weight:bold; white-space:nowrap}

.footer_container{
	width:800px;
	margin:0 auto
}
.addr_footer {
	float:left;
	display:block;
	width:300px
}

.info_footer,.about_footer{
	float:left;
	display:block;
	width:175px
}

.register_footer{
	float:left;
	display:block;
	width:100px
}

.register_footer a{
	display:block;
	float:right
}

.addr_footer a,.info_footer a,.about_footer a{
	display:block;
	margin-bottom:5px;
	text-decoration:none;
	color:#999
}

.addr_footer a img{
	vertical-align:middle
}

.footer_head{
	color:#999;
	font-weight:bold;
	display:block;
	padding:7px 0
}

.bct{
	border:0;
	width:93px;
	height:60px;
}

.clear_float{
	clear:both
}

#support-info{
width: 780px;
height: 250px;
background-color: #17262c;
position: fixed;
bottom: 0;
left: 19%;
color: white;
display: none;
margin-bottom: 20px;
}
#support-info a{
	color: white;
}

#CategoryId, #ShortDescription, #ZoneId, #PostType{
	width: 424px;
}

.footer-container{
	width: inherit;
	margin:0 auto
}

.supporter {
	float:left;
	display:block;
	width:240px;
	margin-left: 10px;
}

.supporter-head{
	color:#999;
	font-weight:bold;
	display:block;
	padding:7px 0
}

.supporter-info {
	float:left;
	display:block;
	width:200px;
	margin-left: 10px;
}