﻿@{
    ViewBag.Title = "Giới thiệu";
}

<body bgcolor="#C4BC96" lang=VI>
<br />
<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center;line-height:normal;
background:white'><b><span lang=EN-US style='font-size:18.0pt;font-family:"Verdana","sans-serif";
color:black'>Gi&#7899;i thi&#7879;u</span></b></p>

<h3 style='margin-top:10.0pt;margin-right:168.75pt;margin-bottom:0in;
margin-left:2.0in;margin-bottom:.0001pt;text-indent:40.5pt'><span lang=EN-US>Nhanh60s.vn
đư&#7907;c thành l&#7853;p vào nh&#7919;ng ngày cu&#7889;i năm 2014 và đư&#7907;c
chính th&#7913;c đi vào ho&#7841;t đ&#7897;ng t&#7915; ngày 1/1/2015.</span></h3>

<h3 style='margin-top:10.0pt;margin-right:168.75pt;margin-bottom:0in;
margin-left:2.0in;margin-bottom:.0001pt;text-indent:40.5pt'><span lang=EN-US>Nhanh60s.vn
ph&#7845;n đ&#7845;u tr&#7903; thành ngư&#7901;i d&#7851;n đ&#7847;u trong th&#7883;
ph&#7847;n qu&#7843;ng cáo/ti&#7871;p th&#7883; online trong t&#7881;nh Tây
Ninh vào năm 2015. Chúng tôi luôn cam k&#7871;t ch&#7845;t lư&#7907;ng và
phương th&#7913;c ti&#7871;p c&#7853;n ngư&#7901;i dùng m&#7897;t cách thân thi&#7879;n
nh&#7845;t. Chính v&igrave; th&#7871;, B&#7841;n h&atilde;y tr&#7843;i nghi&#7879;m
và c&#7843;m nh&#7853;n các d&#7883;ch v&#7909; t&#7915; nhanh60s.vn. </span></h3>

<h3 style='margin-top:10.0pt;margin-right:168.75pt;margin-bottom:0in;
margin-left:2.0in;margin-bottom:.0001pt;text-indent:40.5pt'><span lang=EN-US>M&#7885;i
ph&#7843;n h&#7891;i/góp &yacute; xin g&#7917;i v&#7873; cho chúng tôi qua
mail: www.nhanh60s.vn@gmail.com</span></h3>

<h3 style='margin-top:10.0pt;margin-right:168.75pt;margin-bottom:0in;
margin-left:2.0in;margin-bottom:.0001pt;text-indent:40.5pt'><span lang=EN-US>Chúng
tôi mong mu&#7889;n s&#7921; hài l&ograve;ng &#7903; khách hàng là phương châm
ho&#7841;t đ&#7897;ng c&#7911;a chúng tôi.</span></h3>

<h3 style='margin-top:10.0pt;margin-right:168.75pt;margin-bottom:0in;
margin-left:2.0in;margin-bottom:.0001pt;text-indent:40.5pt'><span lang=EN-US>Ban
Qu&#7843;n L&yacute; Nhanh60s.vn</span></h3>

<h3 style='margin-top:10.0pt;margin-right:168.75pt;margin-bottom:0in;
margin-left:2.0in;margin-bottom:.0001pt;text-indent:40.5pt'><span lang=EN-US>Trân
tr&#7885;ng.</span></h3>

<p class=MsoNormal style='margin-top:0in;margin-right:168.75pt;margin-bottom:
10.0pt;margin-left:2.0in'><span lang=EN-US>&nbsp;</span></p>

</div>

</body>