﻿@{
    ViewBag.Title = "Quy Định Đăng Tin";
}
<body bgcolor="#E7EEEE" lang=VI link=blue vlink="#694F07">
<br/>
<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center;line-height:normal;
background:white'><b><span style='font-size:18.0pt;font-family:"Verdana","sans-serif";
color:black'>Quy Đ&#7883;nh Đăng Tin</span></b></p>

<h3>Qu&#7843;ng cáo trên trang cá nhân doanh nghi&#7879;p</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Qu&#7843;ng
cáo cá nhân trên nhanh60s.vn đư&#7907;c dành cho các cá nhân có trang cá nhân.
M&#7895;i trang cá nhân s&#7869; đư&#7907;c đăng 1 ho&#7863;c nhi&#7873;u
banner qu&#7843;ng cáo tùy theo chính sách theo t&#7915;ng th&#7901;i
đi&#7875;m. </span></p>

<h3>Qu&#7843;ng cáo doanh nghi&#7879;p trên các chuyên m&#7909;c</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Qu&#7843;ng
cáo doanh nghi&#7879;p trên nhanh60s.vn đư&#7907;c ch&#7881; dành cho các doanh
nghi&#7879;p. Các doanh nghi&#7879;p vui l&ograve;ng liên h&#7879; và đăng kí
v&#7899;i Nhanh60s.vn thông qua m&#7909;c liên h&#7879;. </span></p>

<h3>D&#7883;ch v&#7909;<span lang=EN-US> đăng tin</span></h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Các
d&#7883;ch v&#7909; cung c&#7845;p hay t&igrave;m ki&#7871;m ph&#7843;i tuân
theo các lu&#7853;t l&#7879; và quy đ&#7883;nh có hi&#7879;u l&#7921;c
c&#7911;a Vi&#7879;t Nam đ&#7889;i v&#7899;i m&#7895;i ngành ngh&#7873;
c&#7909; th&#7875;.</span></p>

<h3>Phân Lo&#7841;i</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Tin đăng
ph&#7843;i đúng m&#7909;c phân lo&#7841;i c&#7909; th&#7875;. Tin đăng sai
m&#7909;c phân lo&#7841;i có th&#7875; b&#7883; xóa ho&#7863;c chuy&#7875;n
m&#7909;c tương &#7913;ng.</span></p>

<h3>Ch&#7881; m&#7897;t m&#7863;t hàng cho m&#7895;i qu&#7843;ng cáo</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Không
đư&#7907;c phép đưa nhi&#7873;u hơn m&#7897;t m&#7863;t hàng ch&#7859;ng
h&#7841;n như xe, b&#7845;t đ&#7897;ng s&#7843;n ho&#7863;c tuy&#7875;n d&#7909;ng
vi&#7879;c làm vào m&#7897;t qu&#7843;ng cáo.</span></p>

<h3>Không trùng l&#7863;p</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Không
đư&#7907;c đưa ra nhi&#7873;u qu&#7843;ng cáo v&#7899;i cùng m&#7897;t
m&#7863;t hàng, d&#7883;ch v&#7909; ho&#7863;c vi&#7879;c làm. Xóa qu&#7843;ng
cáo c&#361; trư&#7899;c khi b&#7841;n đưa ra qu&#7843;ng cáo m&#7899;i. Do đó
không đư&#7907;c phép đ&#7863;t các qu&#7843;ng cáo v&#7873; cùng m&#7897;t
m&#7863;t hàng, d&#7883;ch v&#7909; ho&#7863;c vi&#7879;c làm vào trong các
danh m&#7909;c ho&#7863;c mi&#7873;n khác nhau.</span></p>

<h3>Đư&#7901;ng liên k&#7871;t</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Các
đư&#7901;ng liên k&#7871;t trong qu&#7843;ng cáo ph&#7843;i liên quan t&#7899;i
m&#7863;t hàng ho&#7863;c d&#7883;ch v&#7909; đư&#7907;c qu&#7843;ng cáo. Các
quy đ&#7883;nh chung cho qu&#7843;ng cáo c&#361;ng đư&#7907;c áp d&#7909;ng cho
đư&#7901;ng liên k&#7871;t. Không đư&#7907;c k&#7871;t n&#7889;i đ&#7871;n các
trang bán đ&#7845;u giá ho&#7863;c rao v&#7863;t khác.</span></p>

<h3>H&igrave;nh &#7843;nh</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>H&igrave;nh
&#7843;nh trong qu&#7843;ng cáo ph&#7843;i liên quan đ&#7871;n m&#7863;t hàng
ho&#7863;c d&#7883;ch v&#7909; đư&#7907;c qu&#7843;ng cáo. Bi&#7875;u trưng
doanh nghi&#7879;p không đư&#7907;c s&#7917; d&#7909;ng như m&#7897;t
h&igrave;nh &#7843;nh trong qu&#7843;ng cáo, ngo&#7841;i tr&#7915; trong các
danh m&#7909;c “D&#7883;ch V&#7909;”, “Vi&#7879;c Làm” và “Cơ s&#7903; kinh
doanh c&#7847;n bán”. Không đư&#7907;c s&#7917; d&#7909;ng h&igrave;nh
&#7843;nh t&#7915; các nhà qu&#7843;ng cáo khác mà không có s&#7921; ch&#7845;p
thu&#7853;n. Chúng đư&#7907;c b&#7843;o vê theo lu&#7853;t b&#7843;n
quy&#7873;n. Các h&igrave;nh &#7843;nh ngư&#7901;i m&#7851;u m&#7863;c đ&#7891;
lót ho&#7863;c áo t&#7855;m b&#7883; c&#7845;m.</span></p>

<h3>Hàng l&#7853;u và s&#7843;n ph&#7849;m gi&#7843; m&#7841;o</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Không
đư&#7907;c phép qu&#7843;ng cáo hàng l&#7853;u và s&#7843;n ph&#7849;m
gi&#7843; m&#7841;o c&#7911;a các m&#7863;t hàng có thương hi&#7879;u,
CD/VCD/DVD, chương tr&igrave;nh máy vi tính/ máy chơi tr&ograve; chơi.
T&#7845;t c&#7843; các s&#7843;n ph&#7849;m đưa vào ph&#7843;i đư&#7907;c
ch&#7913;ng th&#7921;c là b&#7843;n g&#7889;c b&#7903;i ngư&#7901;i qu&#7843;ng
cáo.</span></p>

<h3>Quy đ&#7883;nh đ&#7889;i v&#7899;i v&#7853;t nuôi và đ&#7897;ng v&#7853;t</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Các
đ&#7897;ng v&#7853;t đư&#7907;c mua bán trên nhanh60s.vn ph&#7843;i tuân theo
quy đ&#7883;nh có liên quan c&#7911;a lu&#7853;t pháp Vi&#7879;t Nam v&#7873;
mua bán đ&#7897;ng v&#7853;t và b&#7843;o v&#7879; đ&#7897;ng v&#7853;t hoang
d&atilde;.</span></p>

<h3>Hàng hóa b&#7845;t h&#7907;p pháp</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Qu&#7843;ng
cáo v&#7873; các hàng hóa b&#7883; c&#7845;m buôn bán theo lu&#7853;t pháp
c&#7911;a Vi&#7879;t Nam không đư&#7907;c phép đăng trên nhanh60s.vn. </span></p>

<h3>N&#7897;i dung có tính xúc ph&#7841;m</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Các
qu&#7843;ng cáo hay h&igrave;nh &#7843;nh có th&#7875; đư&#7907;c nh&igrave;n
nh&#7853;n mang tính xúc ph&#7841;m đ&#7871;n các nhóm s&#7855;c t&#7897;c, cá
nhân ho&#7863;c ngư&#7901;i n&#7893;i ti&#7871;ng b&#7883; c&#7845;m.</span></p>

<h3>Hàng hóa và d&#7883;ch v&#7909; b&#7883; c&#7845;m</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Nhanh60s.vn
có m&#7897;t s&#7889; gi&#7899;i h&#7841;n đ&#7889;i v&#7899;i hàng hóa và
d&#7883;ch v&#7909; đư&#7907;c qu&#7843;ng cáo. </span></p>

<h3>Qu&#7843;ng cáo không đúng s&#7921; th&#7853;t</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>nhanh60s.vn
có quy&#7873;n cho r&#7857;ng qu&#7843;ng cáo nào không đúng s&#7921;
th&#7853;t.</span></p>

<h3>D&#7883;ch v&#7909;</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>D&#7883;ch
v&#7909; cung c&#7845;p ho&#7863;c t&igrave;m ki&#7871;m ph&#7843;i tuân theo
các lu&#7853;t l&#7879; và quy đ&#7883;nh c&#7911;a Vi&#7879;t Nam đ&#7889;i
v&#7899;i t&#7915;ng ngành ngh&#7873; c&#7909; th&#7875;. Các d&#7883;ch
v&#7909; nên luôn đư&#7907;c đ&#7863;t trong danh m&#7909;c d&#7883;ch v&#7909;</span></p>

<h3>Đ&#7845;u giá và đ&#7845;u th&#7847;u</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Chúng
tôi không ch&#7845;p nh&#7853;n b&#7845;t k&#7923; qu&#7843;ng cáo nào có liên
quan đ&#7871;n bán đ&#7845;u giá ho&#7863;c đ&#7845;u th&#7847;u. Chúng tôi
ch&#7881; ch&#7845;p nh&#7853;n qu&#7843;ng cáo v&#7899;i giá đư&#7907;c
&#7845;n đ&#7883;nh ho&#7863;c giá có th&#7875; thương lư&#7907;ng</span></p>

<h3>Qu&#7843;ng cáo vi&#7879;c làm</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>M&#7897;t
qu&#7843;ng cáo vi&#7879;c làm t&#7889;t c&#7847;n bao g&#7891;m:</span></p>

<ul type=disc>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Tên doanh
     nghi&#7879;p</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>S&#7889;
     hi&#7879;u d&ograve;ng c&#7889; đ&#7883;nh (có th&#7875; đư&#7907;c
     &#7849;n trong chi ti&#7871;t liên l&#7841;c)</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Mô t&#7843;
     chính xác v&#7873; v&#7883; trí vi&#7879;c làm đư&#7907;c cung c&#7845;p,
     ch&#7859;ng h&#7841;n như các yêu c&#7847;u và m&#7897;t s&#7889; thông
     tin cơ b&#7843;n v&#7873; doanh nghi&#7879;p.</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>N&#7871;u
     b&#7841;n có nhi&#7873;u hơn m&#7897;t v&#7883; trí c&ograve;n
     tr&#7889;ng, xin vui l&ograve;ng đưa ra các qu&#7843;ng cáo riêng
     bi&#7879;t cho m&#7895;i v&#7883; trí.</span></li>
</ul>

<h3>Cơ s&#7903; kinh doanh c&#7847;n bán</h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>Danh
m&#7909;c này dành riêng cho các ch&#7911; s&#7903; h&#7919;u cơ s&#7903; kinh
doanh đ&#7875; bán cơ s&#7903; kinh doanh hi&#7879;n có c&#7911;a h&#7885;.
Chúng tôi không ch&#7845;p nh&#7853;n các qu&#7843;ng cáo liên quan đ&#7871;n
s&#7921; liên doanh, h&#7907;p tác và t&igrave;m ki&#7871;m ngân sách kinh
doanh.</span></p>

<p class=MsoNormal style='line-height:normal;background:white'><span
style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:black'>N&#7871;u
m&#7897;t qu&#7843;ng cáo không đư&#7907;c ch&#7845;p thu&#7853;n do vi
ph&#7841;m quy đ&#7883;nh, nhà qu&#7843;ng cáo s&#7869; có cơ h&#7897;i
đ&#7875; thay đ&#7893;i nó. nhanh60s.vn có quy&#7873;n quy&#7871;t đ&#7883;nh
li&#7879;u m&#7897;t qu&#7843;ng cáo có vi ph&#7841;m quy đ&#7883;nh và tinh
th&#7847;n c&#7911;a nhanh60s.vn hay không. Các quy đ&#7883;nh đư&#7907;c
c&#7853;p nh&#7853;t liên t&#7909;c và có th&#7875; thay đ&#7893;i theo
th&#7901;i gian</span></p>

<h3><a name="ph&#7841;m_pháp"></a>Hàng hóa b&#7845;t h&#7907;p pháp</h3>

<ul type=disc>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Ma túy</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>V&#361; khí</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Thu&#7889;c
     theo đơn</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Các lo&#7841;i
     thu&#7889;c y t&#7871; c&#7847;n đư&#7907;c ki&#7875;m soát (ch&#7859;ng
     h&#7841;n như th&#7911;y ngân)</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>B&#7897;
     ph&#7853;n cơ th&#7875; ngư&#7901;i</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>S&#7843;n
     ph&#7849;m khiêu dâm</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Pháo hoa và
     ch&#7845;t n&#7893;</span></li>
</ul>

<h3><a name="hàng_c&#7845;m"></a>Hàng hóa và d&#7883;ch v&#7909; b&#7883;
c&#7845;m</h3>

<h3>Hàng hóa</h3>

<ul type=disc>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>S&#7843;n
     ph&#7849;m y t&#7871; và s&#7843;n ph&#7849;m làm đ&#7865;p ngo&#7841;i
     tr&#7915; nư&#7899;c hoa</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Qu&#7847;n áo
     lót đ&atilde; qua s&#7917; d&#7909;ng</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>S&#7889; và tài
     li&#7879;u đăng k&yacute; xe</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Kính áp
     tr&ograve;ng (cá nhân)</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Đ&#7883;a
     ch&#7881; E-mail</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>B&#7843;n ghi
     Radio ,b&#7843;n thu TV và b&#7843;n thu t&#7915; Internet</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>S&#7921; tuyên
     truy&#7873;n có tính xúc ph&#7841;m</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>C&#7891;n,
     rư&#7907;u, thu&#7889;c lá</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>S&#7889;
     đi&#7879;n tho&#7841;i di đ&#7897;ng và th&#7867; Sim</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Thư/ L&#7901;i
     chúc m&#7915;ng/ Thông báo cá nhân</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>S&#7921;
     ki&#7879;n h&#7897;i h&#7885;p</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Ti&#7871;p
     th&#7883; đơn c&#7845;p và ti&#7871;p th&#7883; đa c&#7845;p (MLM, SLM,
     bán hàng tr&#7921;c ti&#7871;p)</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>S&#7843;n
     ph&#7849;m trang đi&#7875;m và m&#7929; ph&#7849;m</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Dư&#7907;c
     ph&#7849;m th&#7843;o dư&#7907;c</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Y h&#7885;c
     c&#7893; truy&#7873;n &#7844;n Đ&#7897; và phép ch&#7919;a vi lư&#7907;ng
     đ&#7891;ng căn</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Bùa h&#7897;
     m&#7841;ng, Bùa và t&#7845;t c&#7843; các v&#7853;t th&#7847;n bí</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Ăng-ten
     đ&#297;a v&#7879; tinh</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Sách đi&#7879;n
     t&#7917;</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Xe c&#7897;
     liên quan đ&#7871;n “thanh toán kéo dài” ho&#7863;c “kho&#7843;n vay kéo
     dài”</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Máy hút
     s&#7919;a, b&igrave;nh s&#7919;a tr&#7867; em, ca u&#7889;ng s&#7919;a,
     khăn ăn, núm vú gi&#7843; đ&atilde; qua s&#7917; d&#7909;ng.</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Đ&#7891; chơi
     t&igrave;nh d&#7909;c</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Thu&#7889;c và
     thu&#7889;c b&#7893; cho ngư&#7901;i l&#7899;n/ tr&#7867; em và v&#7853;t
     nuôi.</span></li>
</ul>

<h3>D&#7883;ch v&#7909;</h3>

<ul type=disc>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Chăm sóc và
     giám sát tr&#7867; em</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>D&#7883;ch v&#7909;
     nh&#7855;n tin SMS</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Mát-xa và chăm
     sóc t&#7841;i Spa (ngo&#7841;i tr&#7915; phi&#7871;u đ&atilde; tr&#7843;
     ti&#7873;n)</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Làm ngư&#7901;i
     m&#7851;u</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Ngư&#7901;i
     giúp vi&#7879;c trong nhà</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>D&#7883;ch
     v&#7909; mai m&#7889;i và h&#7865;n h&ograve;</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>D&#7883;ch
     v&#7909; xăm h&igrave;nh</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Tr&#7883;
     li&#7879;u</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>T&igrave;m
     ki&#7871;m đ&#7841;i l&yacute;/ nhà môi gi&#7899;i/ ngu&#7891;n cung
     c&#7845;p/ nhà phân ph&#7889;i</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>K&#7871;
     ho&#7841;ch làm giàu nhanh chóng</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>D&#7883;ch
     v&#7909; Car pool (đi chung xe)</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>D&#7883;ch
     v&#7909; b&#7867; khóa (unlock) và Jailbreak (can thi&#7879;p vào đ&#7875;
     cài các &#7913;ng d&#7909;ng l&#7853;u) cho các thi&#7871;t b&#7883;</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>D&#7883;ch
     v&#7909; y&#7875;m bùa</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Cho vay và tái
     c&#7845;p v&#7889;n</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>B&#7843;o
     hi&#7875;m và các chương tr&igrave;nh b&#7843;o hi&#7875;m y t&#7871;</span></li>
 <li class=MsoNormal style='color:black;line-height:normal;background:white'><span
     style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>D&#7883;ch
     v&#7909; New Wifi và d&#7883;ch v&#7909; băng thông r&#7897;ng</span></li>
</ul>

</div>

</body>