﻿@{
    ViewBag.Title = "Tuyển dụng";
}
<body bgcolor="#E7EEEE" lang=VI link=blue vlink="#694F07" style='tab-interval:
.5in'>
<br />
<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center;line-height:normal;
background:white'><b><span lang=EN-US style='font-size:18.0pt;font-family:"Verdana","sans-serif";
color:black;mso-ansi-language:EN-US'>Tuy&#7875;n D&#7909;ng</span></b><span
lang=EN-US style='mso-ansi-language:EN-US'><o:p></o:p></span></p>

<h3><span lang=EN-US style='mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN-US'>Các ch&#7913;c danh &#7913;ng tuy&#7875;n:<o:p></o:p></span></h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
lang=EN-US style='font-size:9.0pt;font-family:"Verdana","sans-serif";
color:black;mso-ansi-language:EN-US'>Nhân viên sale/ti&#7871;p th&#7883;.<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:normal;background:white'><span
lang=EN-US style='font-size:9.0pt;font-family:"Verdana","sans-serif";
color:black;mso-ansi-language:EN-US'>Ki&#7875;m duy&#7879;t n&#7897;i dung.<o:p></o:p></span></p>

<h3><span lang=EN-US style='mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN-US'>Yêu C&#7847;u<o:p></o:p></span></h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
lang=EN-US style='font-size:9.0pt;font-family:"Verdana","sans-serif";
color:black;mso-ansi-language:EN-US'>B&#7845;t c&#7913; công dân Vi&#7879;t Nam
tu&#7893;i t&#7915; 18 đáp &#7913;ng đ&#7911; yêu c&#7847;u theo lu&#7853;t lao
đ&#7897;ng c&#7911;a Vi&#7879;t Nam.<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:normal;background:white'><span
lang=EN-US style='font-size:9.0pt;font-family:"Verdana","sans-serif";
color:black;mso-ansi-language:EN-US'>S&#7913;c kh&#7887;e đ&#7843;m báo đ&#7911;
đi&#7873;u ki&#7879;n đáp &#7913;ng công vi&#7879;c. Yêu thích công vi&#7879;c.<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:normal;background:white'><span
lang=EN-US style='font-size:9.0pt;font-family:"Verdana","sans-serif";
color:black;mso-ansi-language:EN-US'>Là ngư&#7901;i thu&#7897;c t&#7881;nh Tây
Ninh.<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:normal;background:white'><span
lang=EN-US style='font-size:9.0pt;font-family:"Verdana","sans-serif";
color:black;mso-ansi-language:EN-US'>S&#7869; đư&#7907;c hư&#7899;ng d&#7851;n
cách qu&#7843;n l&yacute; và ti&#7871;p th&#7883; sau khi nh&#7853;n vào làm.<o:p></o:p></span></p>

<h3><span lang=EN-US style='mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN-US'>Liên h&#7879;<o:p></o:p></span></h3>

<p class=MsoNormal style='line-height:normal;background:white'><span
lang=EN-US style='font-size:9.0pt;font-family:"Verdana","sans-serif";
color:black;mso-ansi-language:EN-US'>Vui l&ograve;ng liên h&#7879;: <a
href="http://www.nhanh60s.vn@gmail.com">www.nhanh60s.vn@gmail.com</a> đ&#7875;
bi&#7871;t thêm chi ti&#7871;t.<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:normal;background:white'><span
lang=EN-US style='font-size:9.0pt;font-family:"Verdana","sans-serif";
color:black;mso-ansi-language:EN-US'>Ho&#7863;c g&#7885;i s&#7889;: </span><span
style='font-size:9.0pt;font-family:"Georgia","serif";color:red'>0933702626</span></span><span
lang=EN-US style='mso-ansi-language:EN-US'><o:p></o:p></span></p>

</div>

</body>