﻿@model WebRaoVat.Models.Post

<h2>Xóa</h2>

<h3>Bạn có chắc là sẽ xóa tin đăng này?</h3>
<fieldset>
    <legend>Tin Đăng</legend>

    <div class="display-field">
        @Html.HiddenFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.HiddenFor(model => model.Created)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.TitleAlias)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.PostCategory.CategoryName)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.ShortDescription)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.Detail)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.Price)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.Zone.ZoneName)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.Active)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.PostType)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.HitCount)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.Thumbnail)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.Approved)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.ExpireDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Xóa" /> |
        @Html.ActionLink("Trở lại", "Index")
    </p>
}
