﻿@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@model IEnumerable<WebRaoVat.Models.Post>
<h2>Quản lý Các Tin Đăng</h2>

<fieldset>
    <legend>Bộ lọc</legend>
@using (Html.BeginForm("PostManager","Post", FormMethod.Get))
{
    <p> Search: @Html.TextBox("search", ViewBag.searchstring as string) 
        UserName: @Html.TextBox("UserName", ViewBag.UserName as string) 
        Danh Mục: @Html.DropDownList("Category")
        Khu Vực: @Html.DropDownList("Zone")
        Hiển Thị: @Html.DropDownList("IsActive")
        Loại Tin: @Html.DropDownList("PostType")
        Xác nhận: @Html.DropDownList("Approved") 
        Thời Hạn: @Html.DropDownList("Expired")
    <input type="submit" value="Lọc Dữ Liệu" /></p>
}
</fieldset>

<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleAlias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
 @*       <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zone.ZoneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HitCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleAlias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCategory.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
@*        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zone.ZoneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HitCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thumbnail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostId })
        </td>
    </tr>
}

</table>
