﻿@model WebRaoVat.Models.LocalPasswordModel

<h3>Đổi mật khẩu</h3>
@if (ViewBag.StatusMessage != "")
{
    <h3 style="color:green">@ViewBag.StatusMessage</h3>
}
@using (Html.BeginForm("ChangePassword", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


                <p>Mật khẩu cũ</p>
                @Html.PasswordFor(m => m.OldPassword)

                <p>Mật khẩu mới</p>
                @Html.PasswordFor(m => m.NewPassword)

               <p>Nhập lại mật khẩu mới</p>
                @Html.PasswordFor(m => m.ConfirmPassword)

        <input type="submit" value="Lưu thay đổi" />
 
}
