﻿@model WebRaoVat.Models.LoginModel


<h3> Đăng nhập </h3>
<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>Tên đăng nhập</p>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
    <br />
    <p>Mật khẩu</p>

                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
       <p></p>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
       <p></p>
        <input type="submit" value="Đăng Nhập" />

    <p>
        <a href="/Account/Register"> Đăng ký </a> nếu chưa có tài khoản
    </p>
}
</section>

@*
<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
   @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
