﻿@model WebRaoVat.Models.RegisterModel

<hgroup class="title">
    <h2>Đăng ký</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
     <p>Tên đăng nhập:</p>
                @Html.TextBoxFor(m => m.UserName)
     <p>Mật khẩu:</p>
                @Html.PasswordFor(m => m.Password)
     <p>Nhập lại mật khẩu:</p>
                @Html.PasswordFor(m => m.ConfirmPassword)
     <p>Tên đầy đủ:</p>
                @Html.TextBoxFor(m => m.FullName)
     <p>Email:</p>
                @Html.TextBoxFor(m => m.Email)
     <p>Điện thoại:</p>
                @Html.TextBoxFor(m => m.Phone)
     <p></p>
	 
        <input type="submit" value="Đăng ký" />

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
