﻿@model WebRaoVat.Models.ResetPasswordModel

<h2>Khôi phục mật khẩu</h2>
<p>Để reset password, vui lòng nhập email hiện tại vào bên dưới.</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Khôi phục mật khẩu</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <p>
            <input type="submit" value="Gửi" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Trở về đăng nhập", "Login")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
