﻿@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@model WebRaoVat.Models.UserProfile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserProfile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BannerImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BannerImage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Review)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Review)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Yahoo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Yahoo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Skype)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Skype)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HotLine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HotLine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HitCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HitCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumPosts)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumPosts)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Slogan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Slogan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LogoImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogoImage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserBanExpireDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserBanExpireDate)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.BusinessExpireDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BusinessExpireDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
