﻿@model WebRaoVat.Models.TransactionHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TransactionHistory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransactionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransactionContent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionContent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserWallet.UserWalletId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserWallet.UserWalletId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransactionDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
