﻿@model WebRaoVat.Models.TransactionHistory

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TransactionHistory</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionId)
            @Html.ValidationMessageFor(model => model.TransactionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionContent)
            @Html.ValidationMessageFor(model => model.TransactionContent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserWalletId, "UserWallet")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserWalletId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserWalletId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionDate)
            @Html.ValidationMessageFor(model => model.TransactionDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
