﻿@model IEnumerable<WebRaoVat.Models.TransactionHistory>
<h2>Quản lý Giao Dịch</h2>

<fieldset>
    <legend>Bộ lọc</legend>
@using (Html.BeginForm("Index", "TransactionHistory", FormMethod.Get))
{
    <p> Search: @Html.TextBox("search", ViewBag.searchstring as string) 
    <input type="submit" value="Lọc Dữ Liệu" /></p>
}
</fieldset>
<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserWallet.UserWalletId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserWallet.UserWalletId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
    </tr>
}

</table>
