﻿@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@model IEnumerable<WebRaoVat.Models.TransactionHistory>
<h2>Quản lý Giao Dịch - Thành Viên</h2>

@*int id, string imageurl = null, string imagelink = null, int cateid, bool isvertical, bool expired*@
<fieldset>
    <legend>Bộ lọc</legend>
@using (Html.BeginForm("Index", "TransactionHistory", FormMethod.Get))
{
    <p> Search: @Html.TextBox("Search", ViewBag.searchstring as string) 
        Username: @Html.TextBox("UserName", ViewBag.UserName as string) 
    <input type="submit" value="Lọc Dữ Liệu" /></p>
}
</fieldset>
<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserWallet.UserWalletId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
@*
        <th></th>
*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserWallet.UserWalletId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
@*        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
*@
    </tr>
}

</table>
