﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Nhìn là thấy. 60s cho tất cả những thứ bạn cần</title>
    <link href="~/icon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/dropzone.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dropzone.min.js"></script>
    <style>
        div#Header {
            width:auto; position:fixed; display:block; top: 0px; background-color:aqua;
        }
        div.Category {
            float:left; display:inherit; width:auto; border:solid; padding:5px;
        }
        div#Content {
            width:auto; margin-top:35px;
        }
    </style>
</head>
<body onload=" Dropzone.autoFind = false; ">
    <div id="Header">
        <div class="Category">
            @Html.ActionLink("Tài Khoản Thành Viên", "Index", "UserManager")
        </div>
        <div class="Category">
            @Html.ActionLink("Quảng Cáo Danh Mục", "Index", "CategoryAd")
        </div>
        <div class="Category">
            @Html.ActionLink("Quảng Cáo Tin Đăng", "Index", "PostAd")
        </div>
        <div class="Category">
            @Html.ActionLink("Quảng Cáo Doanh Nghiệp", "UserAdManager", "UserAd")
        </div>
        <div class="Category">
            @Html.ActionLink("Tin Đăng", "PostManager", "Post")
        </div>
        <div class="Category">
            @Html.ActionLink("Lịch Sử Giao Dịch", "TransactionManager", "TransactionHistory")
        </div>
        <div class="Category">
            @Html.ActionLink("Ví Tiền", "Index", "UserWallet")
        </div>
    </div>
    <div id="Content">
        @RenderBody()
        @RenderSection("Scripts",false)
    </div>
</body>
</html>
