﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Nhìn là thấy. 60s cho tất cả những thứ bạn cần</title>
    <link href="~/icon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/loginform.css">	
    <link href="~/Content/dropzone.css" rel="stylesheet">

    @Scripts.Render("~/bundles/modernizr")

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/loginform.js"></script>
    <script type="text/javascript" src="~/Scripts/dropzone.min.js"></script>
    <!-- show, hide elements onclick-->
    <script type="text/javascript">
        function toggle_visibility(id) {
            var e = document.getElementById(id);
            if (e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }
    </script>
    <!-- gooogle analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57267223-2', 'auto');
        ga('send', 'pageview');
    </script>
		
		<!--Auto redirect link to mobile-->
		<script type="text/javascript">
		    var url;
		    url = document.location.href;
		    var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
		    var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;

		    if (width <= 1000) {
		        url = "http://nhanh60s.vn/Content/mobile.html?" + url;
		        setTimeout("location.href = url;", 5000);
		    }
		</script>
		
</head>
<body onload=" Dropzone.autoFind = false; ">
    <div id="navi">
		<div class="navi-item">
			<a href="/Home"><i class="fa fa-home fa-fw"></i>Trang Chủ</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=1"><i class="fa fa-mobile fa-lg fa-fw"></i>Điện Thoại</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=2"><i class="fa fa-laptop fa-fw"></i>Máy Tính & Điện Tử</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=3"><i class="fa fa-car fa-fw"></i>Ôtô & Xe Máy</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=4"><i class="fa fa-university fa-fw"></i>Nhà Đất</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=5"><i class="fa fa-graduation-cap fa-fw"></i>Đào Tạo & Việc Làm</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=6"><i class="fa fa-umbrella fa-fw"></i>Thời Trang & Mỹ Phẩm</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=7"><i class="fa fa-cutlery fa-fw"></i>Khách Sạn & Ẩm Thực</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=8"><i class="fa fa-plane fa-fw"></i>Dịch Vụ Du Lịch</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=9"><i class="fa fa-angellist fa-fw"></i>Dịch Vụ Giải Trí</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=10"><i class="fa fa-money fa-fw"></i>Dịch Vụ Tài Chính</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=11"><i class="fa fa-wrench fa-fw"></i>Dịch Vụ Sửa Chữa</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=12"><i class="fa fa-weixin fa-fw"></i>Rao Vặt Linh Tinh</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=13"><i class="fa fa-globe fa-fw"></i>Tổng Hợp</a>
		</div>
		<div class="navi-item">
			<a href="/PostCategory/details?catid=14"><i class="fa fa-bullhorn fa-fw"></i>Thông Báo</a>
		</div>
		<div class="navi-item">
			<a href="#home" onclick="toggle_visibility('support-info');"><i class="fa fa-info fa-fw"></i>Hỗ Trợ</a>
		</div>
	
		<div class="hot-line">
			<span style="font-size:14pt;"> HOTLINE</span><br/>
			0933702626
		</div>
	</div>	<!--end of navigator-->

	<div id="header">
		<div id="logo">
            <a href="http://nhanh60s.vn">
			    <img src="/Content/logo.jpg" />
            </a>
		</div>
	
		<div id="search-box" class="header-box">
			<form id="search-form" action="/Post" method="get">
				<input name="search" type="text" class="search" placeholder="Nhập từ khóa cần tìm ... ">
				<button type="submit" form="search-form"><i class="fa fa-search"></i></button>
			</form>
		</div>
		
		
		<div id="post" class="header-box">
							@if(Request.IsAuthenticated)
							{
						<button type="button" onclick="window.location.href='/Post/Create'">ĐĂNG TIN RAO VẶT</button>
							}else{
									<button type="button" onclick="alert('Bạn cần phải đăng ký hoặc đăng nhập trước khi đăng tin!');">ĐĂNG TIN RAO VẶT</button>
							}
		</div>
		<div id="user-login">
								@Html.Partial("_LoginPartial")
		</div>
	</div>
		
	<div id="container">
		<div class="clear"></div>
		<div id="main-content-wrapper">
                @RenderBody()
 			
  @*          @RenderSection("loginForm",false)*@
               @RenderSection("Scripts",false)
            	
		</div>
	</div>	<!-- end of container-->
    	
	<div id="social-network">
		<a href="https://www.facebook.com/nhanh60s"><i class="fa fa-facebook fa-lg"></i>&nbsp; </a>
		<a href="https://twitter.com/nhanh60s"><i class="fa fa-twitter fa-lg"></i>&nbsp; </a>
		<a href="https://plus.google.com/u/0/b/109948247839033790286"><i class="fa fa-google-plus fa-lg"></i>&nbsp; </a>
	</div>
	

    <div id="support-info">
        <h2>Hỗ trợ</h2>
				<hr>
				<div class="clear_float"></div>
				<div class="support-container">
					<div class="supporter">
						<span class="supporter-head">Quản lý:</span>
						<a href="mailto:www.nhanh60s.vn@gmail.com"><img src="/Content/mail.jpg" style="width:150px; height:50px;" /></a>
						<br />
						<span class="yahoo-contact">
							<a href = "ymsgr:sendim?a_little_demo19">
									<img border=0 src="http://opi.yahoo.com/online?u=a_little_demon19&m=g&t=2"/>
							</a>
						</span>
						<br />
						<span class="skype-contact">
							<a href="skype:a_little_demon?chat">
								<img border=0 src="http://mystatus.skype.com/a_little_demon"/>
							</a>
						</span>
					</div>		
					<div class="supporter">
						<span class="supporter-head">Hỗ trợ kỹ thuật:</span>
						<a href="mailto:www.nhanh60s.vn@gmail.com"><img src="/Content/mail.jpg" style="width:150px; height:50px;" /></a>
						<br />
						<span class="yahoo-contact">
							<a href = "ymsgr:sendim?a_little_demo19">
									<img border=0 src="http://opi.yahoo.com/online?u=a_little_demon19&m=g&t=2"/>
							</a>
						</span>
						<br />
						<span class="skype-contact">
							<a href="skype:a_little_demon?chat">
								<img border=0 src="http://mystatus.skype.com/a_little_demon"/>
							</a>
						</span>
					</div>
					<div class="supporter">
						<span class="supporter-head">Kinh doanh-hợp tác:</span>
						<a href="mailto:www.nhanh60s.vn@gmail.com"><img src="/Content/mail.jpg" style="width:150px; height:50px;" /></a>
						<br />
						<span class="yahoo-contact">
							<a href = "ymsgr:sendim?a_little_demo19">
									<img border=0 src="http://opi.yahoo.com/online?u=a_little_demon19&m=g&t=2"/>
							</a>
						</span>
						<br />
						<span class="skype-contact">
							<a href="skype:a_little_demon?chat">
								<img border=0 src="http://mystatus.skype.com/a_little_demon"/>
							</a>
						</span>
					</div>
<!----					
					<div class="supporter-info">
						<span class="supporter-head">Thông tin hỗ trợ:</span>
						<a href="/Home/HuongDanThanhToan">Hướng dẫn thanh toán</a> <br />
						<a href="/Home/QuyDinhDoiTra">Quy định đổi trả thanh toán</a> <br />
						<a href="/Home/LienHeHopTac">Liên hệ hợp tác</a><br />
					</div>
----->
				</div>
    </div>

	<!--login popup -->
    <div id="overlay" style="display:none"></div>
    <div id="modal-login" style="display:none">
	    <div id="content-login">
		    <div class="login">
		      <h1>Đăng nhập người dùng</h1>
		      <form method="post" action="/account/login" >
                @Html.AntiForgeryToken()
					<p><input type="text" id="UserName" name="UserName" value="" placeholder="Tên đăng nhập"></p>
			    <p><input type="password" id="Password" name="Password" value="" placeholder="Mật Khẩu"></p>
			    <p class="remember_me">
                    <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true">
                    <input name="RememberMe" type="hidden" value="false">
                    <label class="checkbox" for="RememberMe">Ghi nhớ đăng nhập</label>
			    </p>
			    <p class="submit"><input type="submit" name="commit" value="Đăng nhập"></p>
		      </form>
		    </div>
		
		    <div class="login-help">
		      <p> Quên mật khẩu ? <a href="/account/ResetPassword">Reset Password</a>.</p>
		    </div>
	    </div>
    </div><!-- end of loginform-->

    <div id="modal-register" style="display:none">
	    <div id="content-register">
		    <div class="login">
		      <h1>Đăng ký</h1>
		      <form method="post" action="/account/register">
                @Html.AntiForgeryToken()
								<p><input  name="Username"type="text" value="" placeholder="Tên đăng nhập"></p>
								<p><input  name="Password" type="Password" value="" placeholder="Mật Khẩu"></p>
                <p><input  name="ConfirmPassword" type="Password" value="" placeholder="Nhập lại mật khẩu"></p>
                <p><input  name="FullName" type="text" value="" placeholder="Tên đầy đủ"></p>
                <p><input  name="Email" type="text" value="" placeholder="Email"></p>
                <p><input  name="Phone" type="text" value="" placeholder="Điện thoại"></p>
								<p id = "content-register-term"><em>*Xác nhận đăng ký đồng nghĩa với việc bạn chấp nhận 
								<a href="/Home/DieuKhoan" target="_blank"><b>Điều khoản</b></a> và <a href="/Home/ChinhSach" target="_blank"><b>Chính sách</b></a> 
								sử dụng dịch vụ của Nhanh60s.vn</em></p>
								<p class="submit"><input type="submit" name="commit" value="Đăng Ký"></p>				
		      </form>
		    </div>
	    </div>
    </div><!-- end of registerform-->
    
</body>
</html>
