﻿@model WebRaoVat.Models.UserWallet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserWallet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Money)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Money)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BonusMoney)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BonusMoney)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpireBonusDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpireBonusDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserWalletId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
