﻿@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@model WebRaoVat.Models.UserWallet

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserWallet</legend>

        @Html.HiddenFor(model => model.UserWalletId)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Money)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Money)
            @Html.ValidationMessageFor(model => model.Money)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BonusMoney)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BonusMoney)
            @Html.ValidationMessageFor(model => model.BonusMoney)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpireBonusDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpireBonusDate)
            @Html.ValidationMessageFor(model => model.ExpireBonusDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
