﻿@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@model IEnumerable<WebRaoVat.Models.UserWallet>
<h2>Quản lý Ví Thành Viên</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>

@*int id, string imageurl = null, string imagelink = null, int cateid, bool isvertical, bool expired*@
<fieldset>
    <legend>Bộ lọc</legend>
@using (Html.BeginForm("Index","UserManager", FormMethod.Get))
{
    <p> Search: @Html.TextBox("search", ViewBag.searchstring as string) 
    <input type="submit" value="Lọc Dữ Liệu" /></p>
}
</fieldset>

<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BonusMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireBonusDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BonusMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireBonusDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserWalletId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserWalletId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserWalletId })
        </td>
    </tr>
}

</table>
