﻿@model WebRaoVat.Models.UserProfile

<fieldset>
    <legend style="font-size:150%;">Chức năng</legend>
    @if (Model.UserType > 200)
    {
        <span style="background-color:aquamarine; font-size: large">
            @Html.ActionLink("Bảng điều khiển Administrator","Index","AdministratorDashboard")
        </span>
    }
    else if (Model.UserType > 100)
    {
        <span style="background-color:azure; font-size: large">
            @Html.ActionLink("Bảng điều khiển Moderator", "Index", "ModeratorDashboard")
        </span>
    }
    <span style="background-color:greenyellow; font-size: large">
            @Html.ActionLink("Các mục đánh dấu", "Index", "UserBookmark")
    </span>
    <span style="background-color:bisque; font-size: large">
            @Html.ActionLink("Thay đổi mật khẩu", "ChangePassword", "Account")
    </span>
</fieldset>
<br />
<fieldset>
@if(Model.UserType==(int)0) //khach hang ca nhan
{ //usual form

<div class="upgrade-button">
            <a href="/UserProfile/Upgrade"> Nâng cấp lên khách hàng doanh nghiệp</a>
</div>
<legend style="font-size:150%;">Chỉnh sửa thông tin cá nhân</legend>
<form  id="UserEdit" class="aspform" action="/userprofile/edit" method="post" novalidate="novalidate">
 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.UserType)
 
        <br /> Tên đầy đủ <br />
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <br />Số điện thoại: <br />
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        <br />
        <p>
            <input type="submit" value="Lưu thay đổi" />
        </p>
   </form>  
}
else{ //khach hang doanh nghiep, nhieu field hon
<span style="background-color:blueviolet; font-size: large">
     @Html.ActionLink("Đăng quảng cáo trên trang doanh nghiệp", "Index", "UserAd")
</span>
<span style="background-color:orchid; font-size: large">
     @Html.ActionLink("Đến trang doanh nghiệp của bạn", "Details", "UserProfile", new { id = Model.UserId}, null)
</span>
<legend style="font-size:150%;">Chỉnh sửa thông tin doanh nghiệp</legend>
<form  id="UserEdit" class="aspform" action="/userprofile/edit" method="post" novalidate="novalidate">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.UserType)
@*
        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
*@
        <br /> Tên Công Ty <br />
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        

        <input type="hidden" value="@Model.UserType" />
@*
        <div class="editor-label">
            @Html.LabelFor(model => model.BannerImage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BannerImage)
            @Html.ValidationMessageFor(model => model.BannerImage)
        </div>
*@
        <br /> Địa chỉ <br />
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Website)
            @Html.ValidationMessageFor(model => model.Website)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Yahoo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Yahoo)
            @Html.ValidationMessageFor(model => model.Yahoo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Skype)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Skype)
            @Html.ValidationMessageFor(model => model.Skype)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HotLine)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HotLine)
            @Html.ValidationMessageFor(model => model.HotLine)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Slogan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Slogan)
            @Html.ValidationMessageFor(model => model.Slogan)
        </div>
@*
        <br /> Hình logo <br />
        <div class="editor-field">
            @Html.EditorFor(model => model.LogoImage)
            @Html.ValidationMessageFor(model => model.LogoImage)
        </div>
    *@
        <p></p>
        <p></p>
        <p>
            <input type="submit" value="Lưu thay đổi" />
        </p>
    </form>
}

<form action="/File/Upload" class ="dropzone" id="UploadImage">
    <h3> Upload hình ảnh, chọn theo thứ tự: </h3>
		<ul>
			<li>Logo(vuông, nhỏ)</li>
			<li>Hình banner (lớn)</li>
		</ul>
</form>
@{
                string form_id = "UploadImage";
                string form_contain_fields_id = "UserEdit";
                int num_images = 2;
}

    @if (ViewBag.Images != null)
    {
        @ViewsUtilities.EditFile(form_id, form_contain_fields_id, num_images, ViewBag.Images);
    }
    else
    {
        @ViewsUtilities.Upload_File(form_id, form_contain_fields_id, num_images);
    }

</fieldset>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
