﻿@model WebRaoVat.Models.Bookmark

<h2>Tính năng chỉ dành cho thành viên đã đăng kí. Vui lòng đăng kí để được sử dụng tính năng Đánh dấu trang :)</h2>

<span>
    @Html.ActionLink("Quay lại", "Details", "Post", new { id = (int)ViewBag.PostId}, null)
</span>
@*{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Bookmark</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostId, "Post")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PostId", String.Empty)
            @Html.ValidationMessageFor(model => model.PostId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserComment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserComment)
            @Html.ValidationMessageFor(model => model.UserComment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@