﻿@model WebRaoVat.Models.Bookmark

<h2>Xóa</h2>

<h3>Bạn có chắc là xóa bookmark này?</h3>
<fieldset>
    <legend>Đánh dấu</legend>

    <div class="display-label">
         Liên kết:
    </div>
    <div class="display-field">
        @Html.ActionLink(Model.Post.Title, "Details", "Post", new{id = Model.PostId}, null)
    </div>

    <div class="display-label">
         Ghi Chú:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserComment)
    </div>

    <div class="display-label">
        Tên người ghi chú:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Xóa" /> |
        @Html.ActionLink("Trở về danh sách", "Index")
    </p>
}
