﻿@model WebRaoVat.Models.Bookmark

<h2>Chi tiết</h2>

<fieldset>
    <legend>Đánh dấu</legend>

    <div class="display-label">
         Liên kết:
    </div>
    <div class="display-field">
        @Html.ActionLink(Model.Post.Title,"Details", "Post", new{id = Model.PostId}, null)
    </div>

    <div class="display-label">
         Ghi chú:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserComment)
    </div>

    <div class="display-label">
         Tên người đánh dấu:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id=Model.BookmarkId }) |
    @Html.ActionLink("Trở về danh mục", "Index")
</p>
