﻿@model WebRaoVat.Models.Bookmark

<h2>Chỉnh sửa</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Đánh dấu</legend>

        @Html.HiddenFor(model => model.BookmarkId)

        <div class="editor-label">
            Liên kết:
        </div>
        <div class="editor-field">
            <input type="hidden" name="PostId" value="@Model.PostId" />
            @Html.ActionLink(Model.Post.Title, "Details", "Post", new{id = Model.PostId}, null)
        </div>

        <div class="editor-label">
            Ghi chú:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserComment)
            @Html.ValidationMessageFor(model => model.UserComment)
        </div>

        <div class="editor-label">
            Tên người đánh dấu:
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId")
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <p>
            <input type="submit" value="Lưu lại" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Trở về danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
