﻿@model IEnumerable<WebRaoVat.Models.Bookmark>
<h2>Quản lý bookmark</h2>
@*
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
*@
@*int id, string imageurl = null, string imagelink = null, int cateid, bool isvertical, bool expired*@
<fieldset>
    <legend>Bộ lọc</legend>
@using (Html.BeginForm("Index","UserBookmark", FormMethod.Get))
{
    <p> Tìm nội dung: @Html.TextBox("search", ViewBag.searchstring as string) 
    <input type="submit" value="Lọc Dữ Liệu" /></p>
}

<table border="1">
    <tr>
        <th>
            Liên kết
        </th>
        <th>
            Ghi chú
        </th>
        <th>
            Tên người đánh dấu
        </th>
        <th>
            Chức năng
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Post.Title, "Details", "Post", new{id = item.PostId}, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.BookmarkId }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.BookmarkId }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.BookmarkId })
        </td>
    </tr>
}

</table>

</fieldset>
