﻿@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@model WebRaoVat.Models.PostAd

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form  id="PostAd" class="aspform" action="/postad/create" method="post" novalidate="novalidate">
@*using (Html.BeginForm()) {*@
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PostAd</legend>

        @Html.HiddenFor(model => model.PostAdsId)

@*        <div class="editor-label">
            @Html.LabelFor(model => model.PostAdsId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostAdsId)
            @Html.ValidationMessageFor(model => model.PostAdsId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageURL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageURL)
            @Html.ValidationMessageFor(model => model.ImageURL)
        </div>
*@
        <div class="editor-label">
            @Html.LabelFor(model => model.ImageLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageLink)
            @Html.ValidationMessageFor(model => model.ImageLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostId)
            @Html.ValidationMessageFor(model => model.PostId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageOdr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageOdr)
            @Html.ValidationMessageFor(model => model.ImageOdr)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isVertical)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isVertical)
            @Html.ValidationMessageFor(model => model.isVertical)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpireDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpireDate)
            @Html.ValidationMessageFor(model => model.ExpireDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryId)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<form action="/File/Upload" class ="dropzone" id="UploadImage">
    <h3> Upload hình ảnh</h3>
</form>
@{
                string form_id = "UploadImage";
                string form_contain_fields_id = "PostAd";
                int num_images = 1;
}

@if (ViewBag.Images != null)
{
    @ViewsUtilities.EditFile(form_id, form_contain_fields_id, num_images, ViewBag.Images);
}
else
{
    @ViewsUtilities.Upload_File(form_id, form_contain_fields_id, num_images);
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
