﻿@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@model WebRaoVat.Models.PostAd

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PostAd</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostAdsId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostAdsId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageLink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageOdr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageOdr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isVertical)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isVertical)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpireDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpireDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
