﻿@model WebRaoVat.Models.PostAd
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PostAd</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostAdsId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostAdsId)
            @Html.ValidationMessageFor(model => model.PostAdsId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageURL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageURL)
            @Html.ValidationMessageFor(model => model.ImageURL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageLink)
            @Html.ValidationMessageFor(model => model.ImageLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostId)
            @Html.ValidationMessageFor(model => model.PostId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageOdr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageOdr)
            @Html.ValidationMessageFor(model => model.ImageOdr)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isVertical)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isVertical)
            @Html.ValidationMessageFor(model => model.isVertical)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpireDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpireDate)
            @Html.ValidationMessageFor(model => model.ExpireDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryId)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}