﻿@model WebRaoVat.Models.CategoryAd
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Tạo quảng cáo mới</h2>

<form  id="CreateAd" class="aspform" action="/categoryad/create" method="post" novalidate="novalidate">
@*using (Html.BeginForm()) {*@
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CategoryAd</legend>

        @Html.HiddenFor(model => model.CategoryAdsId)
@*        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryAdsId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryAdsId)
            @Html.ValidationMessageFor(model => model.CategoryAdsId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageURL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageURL)
            @Html.ValidationMessageFor(model => model.ImageURL)
        </div>
*@
        <div class="editor-label">
            Liên kết đến:
            @*Html.LabelFor(model => model.ImageLink)*@
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageLink)
            @Html.ValidationMessageFor(model => model.ImageLink)
        </div>

        <div class="editor-label">
            Thứ tự hiển thị:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageOdr)
            @Html.ValidationMessageFor(model => model.ImageOdr)
        </div>

        <div class="editor-label">
            Danh mục:
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId")
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            Quảng cáo ngang?
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsVertical)
            @Html.ValidationMessageFor(model => model.IsVertical)
        </div>

        <div class="editor-label">
            Ngày hết hạn:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpireDate)
            @Html.ValidationMessageFor(model => model.ExpireDate)
        </div>

        <p>
            <input type="submit" value="Khởi Tạo" />
        </p>
    </fieldset>
@*}*@
</form>
<div>
    @Html.ActionLink("Trở về", "Index")
</div>

<form action="/File/Upload" class ="dropzone" id="UploadImage">
    <h3> Upload hình ảnh</h3>
</form>
@{
                string form_id = "UploadImage";
                string form_contain_fields_id = "CreateAd";
                int num_images = 1;
}

@if (ViewBag.Images != null)
{
    @ViewsUtilities.EditFile(form_id, form_contain_fields_id, num_images, ViewBag.Images);
}
else
{
    @ViewsUtilities.Upload_File(form_id, form_contain_fields_id, num_images);
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
