﻿@model WebRaoVat.Models.CategoryAd
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@{
    ViewBag.Title = "Xóa Quảng Cáo";
}

<h2>Xóa Quảng Cáo</h2>

<h3>Bạn có chắc là sẽ xóa Quảng Cáo này?</h3>
<fieldset>
    <legend>CategoryAd</legend>

    <div class="display-label">
         Số Id Quảng Cáo:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryAdsId)
    </div>

    <div class="display-label">
         Hình ảnh Quảng cáo:
    </div>
    <div class="display-field">
        <img src="/Content/Upload/Images/@Model.ImageURL" width="100" height="100"/>
        @Html.DisplayFor(model => model.ImageURL)
    </div>

    <div class="display-label">
         Liên kết quảng cáo:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageLink)
    </div>

    <div class="display-label">
         Thứ tự hiển thị:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageOdr)
    </div>

    <div class="display-label">
         Danh mục:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostCategory.CategoryName)
    </div>

    <div class="display-label">
         Là quảng cáo ngang?
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsVertical)
    </div>

    <div class="display-label">
         Ngày hết hạn:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpireDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Xóa" /> |
        @Html.ActionLink("Trở lại", "Index")
    </p>
}
