﻿@model WebRaoVat.Models.CategoryAd
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Chi tiết quảng cáo</h2>

<fieldset>
    <legend>Quảng cáo danh mục</legend>

    <div class="display-label">
         Số Id Quảng Cáo:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryAdsId)
    </div>

    <div class="display-label">
         Hình ảnh Quảng cáo:
    </div>
    <div class="display-field">
        <img src="/Content/Upload/Images/@Model.ImageURL"/>
        @Html.DisplayFor(model => model.ImageURL)
    </div>

    <div class="display-label">
         Liên kết quảng cáo:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageLink)
    </div>

    <div class="display-label">
         Thứ tự hiển thị:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageOdr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostCategory.CategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostCategory.CategoryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsVertical)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsVertical)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpireDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpireDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategoryAdsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
