﻿@model WebRaoVat.Models.CategoryAd
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}


@{
    ViewBag.Title = "Chỉnh sửa";
}

<h2>Chỉnh sửa Quảng Cáo</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CategoryAd</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryAdsId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryAdsId)
            @Html.ValidationMessageFor(model => model.CategoryAdsId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageURL)
        </div>
        <div class="editor-field">
            <img src="/Content/Upload/Images/@Model.ImageURL"/>
            @Html.HiddenFor(model => model.ImageURL)
            @*<input type="hidden" name="UserId" value="@Model.UserId" />*@
            @Html.ValidationMessageFor(model => model.ImageURL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageLink)
            @Html.ValidationMessageFor(model => model.ImageLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageOdr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageOdr)
            @Html.ValidationMessageFor(model => model.ImageOdr)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId, "PostCategory")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsVertical)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsVertical)
            @Html.ValidationMessageFor(model => model.IsVertical)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpireDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpireDate)
            @Html.ValidationMessageFor(model => model.ExpireDate)
        </div>

        <p>
            <input type="submit" value="Lưu lại" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
