﻿@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@model IEnumerable<WebRaoVat.Models.CategoryAd>
<h2>Quản lý Quảng Cáo - Danh Mục</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>

@*int id, string imageurl = null, string imagelink = null, int cateid, bool isvertical, bool expired*@
<fieldset>
    <legend>Bộ lọc</legend>
@using (Html.BeginForm("Index","CategoryAd", FormMethod.Get))
{
    <p> Search: @Html.TextBox("search", ViewBag.searchstring as string) 
        Danh Mục: @Html.DropDownList("Category")
        Định Dạng: @Html.DropDownList("IsVertical")
        Thời Hạn: @Html.DropDownList("Expired")
    <input type="submit" value="Lọc Dữ Liệu" /></p>
}
</fieldset>

<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryAdsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageOdr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVertical)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryAdsId)
        </td>
        <td>
            <img src="/Content/Upload/Images/@item.ImageURL" width="100" height="100"/> <br />
            @Html.DisplayFor(modelItem => item.ImageURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageOdr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCategory.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVertical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryAdsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryAdsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryAdsId })
        </td>
    </tr>
}

</table>
